.Auth{
    margin: 20px auto;
    width: 80%;
    border: solid 1px;
    padding: 10%;
    box-sizing: border-box;
    
    box-shadow: 0 2px 3px rgb(119, 115, 115);
    margin-top: 10%;
    text-align: center;
   
}

.Auth Input{
    display: block;
    
}
@media(min-width: 600px){
    .Auth{
        width: 500px;
    }
}